.GeralImput {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(189, 245, 226);
    margin: 5px;
    padding: 5px 10px;
}

.GeralImput input {
    background-color: azure;
    border: 0px;
    margin: 5px 0px;
    padding: 10px;
    border-bottom: 2px solid black;
}

.GeralImput input:focus {
    outline: none;
    border-bottom: 2px solid red;
}

.GeralImput label {
    font-size: 12px;
}