.GeralEsconder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 225px;
    height: 100%;
    position: absolute;
    left: -194px;
}


.GeralMostrar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 225px;
    height: 100%;
    position: absolute;
    left: 0px;
    z-index: 1;
}

.Titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    font-weight: bold;
    margin: 1px;
    margin-left: 5px;
    background-color: white;
}

.BtMenu {
    cursor: pointer;
    margin-right: 2px;
    padding: 5px;
}

.BtMenu:hover {
    background-color: cadetblue;
    color: azure;
}