.Geral {
    display: flex;
    flex-direction: column;
    width: 240px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    margin: 8px;
}

.Titulo {
    font-size: 14px;
    font-weight: bold;
    background-color: bisque;
    border-bottom: 1px solid black;
    padding: 5px;
}

.Informacao {
    font-size: 12px;
    margin: 5px;
}